* {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightseagreen
}

h3 {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}


main {
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin 20vmin ;
    border: 1vmin solid black;
    margin: 1vmin;
}


main * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmin;
}


.board {
    border: 1vmin solid black;
    gap: 10px;
    
}



div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vmin;
    margin: 2vmin;
    background-color: cyan;
    color: magenta;
    border: 1vmin solid magenta;
    border-radius: 3vmin;
    font: 3vmin;
    
}