* {
    background-color: #ABD2FA;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: row;
}


h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #296EB4
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6F59
}

h3 {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}


main {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr 6fr 6fr;
    grid-template-rows: 20vmin 20vmin 20vmin;
    border: 1vmin solid #0B3948;
    border-radius: 25px;
    margin: 1vmin;
    background-color: #0B3948;
}


main * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmin;
}


.card {
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    border-radius: 10%;
    margin: 2vmin;
    
}


.button {
    display: flex;
    justify-content: center;
    margin: 3vmin;

}

div > button {
    justify-self: center;
    background-color: #4cc9f0;
    color: #198725;
    margin-right: 4vmin;
    margin-left: 4vmin;
    border: 1vmin solid #519872;
    border-radius: 3vmin;
    width: 15vmin;
    font-size: 2vmin;
    
}

#new-game:hover {
    background-color: #296EB4;
    border: 1 vmin solid #4cc9f0;
    border-radius: 3vmin;
    color: #4cc9f0;
}