* {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: row;
}


h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightseagreen
}

h3 {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}


main {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr 6fr 6fr;
    grid-template-rows: 20vmin 20vmin 20vmin;
    border: 1vmin solid black;
    margin: 1vmin;
}


main * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmin;
}


.card {
    display: flex;
    justify-content: center;
    border: 1vmin solid black;
    gap: 10px;
    background-color: lightseagreen;
}


.button {
    display: flex;
    justify-content: center;
    margin: 3vmin;

}

div > button {
    justify-self: center;
    background-color: cyan;
    color: magenta;
    margin-right: 4vmin;
    margin-left: 4vmin;
    border: 1vmin solid magenta;
    border-radius: 3vmin;
    width: 15vmin;
    font-size: 2vmin;
    
}